/*===========decStrategy============*/
.decStrategy_tab{
    width: 7.5rem;
    height:0.82rem;
    background:#fff;
    border-top: 2px solid #d7d7d7;
    display: flex;
    justify-content:space-around;
}
.decStrategy_tab_item{
    height: 0.82rem;
    line-height: 0.82rem;
    font-size: 0.22rem;
    color:#686868
}
.decStrategy_classify_wrap{
    background:#fff;
    padding:0.18rem 0 0.25rem;
    border-top: 2px solid #f4f4f4;
}
.decStrategy_classify_list{
    width: 7.5rem;
    height:1.38rem;
    display: flex;
    justify-content:space-around;
}
.decStrategy_classify_item{
    width: 1.5rem;
    height: 1.38rem;
    
}
.decStrategy_classify_item i{
    display: block;
    height:0.86rem;
    line-height: 0.86rem;
    text-align: center;
    color:#666;

}
#decStrategyHtml .tab_act_color{
    color:#1486f1;
}
.decStrategy_classify_item span{
    display: block;
    text-align: center;
    height: 0.52rem;
    line-height: 0.52rem;
    color:#666;
}

.tab_pointer{
    padding:0.22rem 0 0;
    display: flex;
    justify-content: center
}
.tab_pointer i{
    display: block;
    height: 0.08rem;
    width: 0.08rem;
    border-radius: 0.04rem;
    background:#ccc;
    margin-right: 0.16rem;
}
.tab_pointer .tab_pointer_act{
    color:#7e7e7e;
    width:0.18rem;
}
.decStrategy_con{
    padding:0.2rem 0 0 0;
    background:#fff;
    margin-top: 0.2rem;
}